<div [formGroup]="taskForm">
    <h2>Nuova Task</h2>
    <label for="title">Titolo</label>
    <input id="title" type="text" formControlName="title">

    <label for="priority">Priorità:</label>
    <select id="priority" formControlName="priority">
        <option *ngFor="let p of priorityArray" [value]="p.value"> {{ p.label }}</option>
    </select>
    <label for="expiration">Scadenza:</label>
    <input id="expiration" type="date" formControlName="expiration">

    <button>Aggiungi</button>
</div>